.odysseyUltimate {
	height: 20vw;
	background-color: lightgray;
	padding: 3.5vw 0 0 3.5vw;
}

#foot {
	color: black;
}

#footBar {
	background-color: black;
}

#signInBody {
	background-color: lightblue;
}

#Logo {
	width: 3.5vw;
}

#fighterBody {
	background-color: lightblue;
}

#backToTop {
	color: darkblue;
	float: right;
}

#signIn {
	border-left:  solid black;
	margin-left: 5vw;
	padding-left: 5vw;
}
.card-body{
	background-color: lightblue;
}