.odysseyUltimate {
	height: 20vw;
}


#signInBody {
	background-color: lightblue;
}


#fighterBody {
	background-color: lightblue;
}

#backToTop {
	color: darkblue;
	float: right;
}

#signIn {
	border-left:  solid black;
	/*margin-left: 5vw;*/
	/*padding-left: 5vw;*/
}
.card-body{
	background-color: lightblue;
}
@media screen and (max-width: 992px){
	#signIn{
		border: none;
	}
}
#Logo-2 {
	width: 3.5vw;
}


/*#footerWidth {*/
/*	width: 98.5vw;*/

/*}*/

