h1 {
	font-size: 8vw;
	font-weight: bold;
}
#Logo-2 {
	height: 5vh;
}
/*#title {*/
/*	margin-top: 5vw;*/
/*}*/
#developed-by {
	margin-top: 5vw;
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
#developed-by-2 {
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
#home-text {
	font-size: 2vw;
}
#logo {
	height: 12vw;
}
#sign-up-text {
	font-size: 2.5vw;
}
#branding-1 {
	width: 6vw;
}
#character-name {
	font-size: 4vw;
}
#favorite-star {
font-size: 3vw;
}
#about-character {
	font-size: 1.5vw;
}
#universe-character {
	font-size: 1.5vw;
}
#debut-character {
	font-size: 1.5vw;
}
#about {
	font-size: 3vw;
}
#debut {
	font-size: 3vw;
}
#universe {
	font-size: 3vw;
}
#quotes {
	font-size: 3vw;
}
#carousel {
	font-size: 1.5vw;
}
#background-fighter {
}
#card-1 {
}
#card-2 {
	margin-top: 1vw;
}
#whole-row {

}
#games {
	font-size: 3vw;
}

#game-click {
	width: 5vw;
}

@media screen and (min-width: 992px) {
	.fighter-img-panel {
		position: fixed;
		z-index: 999;
	}
}

.fighter-text-panel {

}