h1 {
	font-size: 8vw;
	font-weight: bold;
}
#home-info {
	font-size: 2vw;
	display: block;
	margin: auto;
}
#learn-text {
	font-size: 3vw;
}
#about {
	font-size: 3vw;
}
#Logo-2 {
	height: 3rem;
}
#developed-by {
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
#developed-by-2 {
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
#about-title {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 2rem;
}
#home-text {
	font-size: 2vw;
}

#started {
	font-size: 4vw;
	font-weight: bold;
}
#logo {
	height: 12vw;
}
#sign-up-text {
	font-size: 2.5vw;
}
#branding-1 {
	width: 6vw;
}
#character-name {
	font-size: 4vw;
	text-align: right;
}
#favorite-button {
	text-align: right;
}
#favorite-star {
font-size: 3vw;
}
#about-character {
	font-size: 1.5vw;
}
#universe-character {
	font-size: 1.5vw;
}
#debut-character {
	font-size: 1.5vw;
}
#about-image {
	margin: auto;
}
#about-us-text {
	font-size: 1.5vw;
}
#debut {
	font-size: 3vw;
}
#universe {
	font-size: 3vw;
}
#song {
	font-size: 3vw;
}
#song-link {
	font-size: 1.5vw;
}
#quotes {
	font-size: 3vw;
}
#carousel {
	font-size: 1.5vw;
}
#background-fighter {
}
#card-1 {
}
#card-2 {
	margin-top: 1vw;
}
#whole-row {

}

#games {
	font-size: 3vw;
}

#game-click {
	width: 5vw;
}

/*smaller screens*/
@media screen and (max-width: 1500px) {

	h1 {
		text-align: center;
		font-size: 3rem;
	}
	#home-info {
		font-size: 1.25rem;
		display: block;
		margin: auto;
		margin-top: 1rem;
	}
	#Of {
		text-align: center;
	}
	#title-top {
		padding-top: 4rem;
	}
	#developed-by {
		margin-top: 1.5rem;
		text-align: center;
		font-size: 1.5rem;
	}
	#developed-by-2 {
		margin-top: -1rem;
		text-align: center;
		font-size: 1.5rem;
	}
	#started {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		margin-top: 10vw;
	}
	#about-title {
		font-size: 2rem;
		text-align: center;
		margin-bottom: 1rem;
	}
	#about {
		font-size: 2rem;
	}
	#about-character {
		font-size: 1rem;
	}
	#universe {
		font-size: 2rem;
	}
	#universe-character {
		font-size: 1rem;
	}
	#debut {
		font-size: 2rem;
	}
	#debut-character {
		font-size: 1rem;
	}
	#song {
		font-size: 2rem;
	}
	#song-link {
		font-size: 1rem;
	}
	#quotes {
		font-size: 2rem;
	}
	#carousel {
		font-size: 1rem;
	}
	#games {
		font-size: 2rem;
	}
	#character-name {
		font-size: 2rem;
	}

}

@media screen and (min-width: 992px) {
	.fighter-img-panel {
		position: fixed;
		z-index: 999;
	}
	#sign-up-image {
		border-bottom: none;
		border-top: none;
		border-left: none;
		border-color: black;
		border-radius: 0;
		margin-right: 3vw;
		padding-right: 5vw;
	}
	#about-border {
		border-color: black;
		border-top: none;
		border-bottom: none;
		border-left: none;
		border-radius: 0;
		padding-right: 5vw;
		margin-right: 3vw;
		margin-left: 2vw;
	}
	#sign-in-image {
		border-color: black;
		border-top: none;
		border-bottom: none;
		border-left: none;
		border-radius: 0;
		padding-right: 5vw;
		margin-right: 3vw;
		margin-left: 2vw;
	}
}

@media screen and (max-width: 992px) {
	#sign-up-image {
		border: none;
	}
	#about-us-text {
		margin-top: 5vw;
		font-size: 1rem;
	}
	#learn-text {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 575px) {
	#sign-up-image {
		margin-top: 5vw;
	}
	#sign-up-text {
		font-size: 1.25rem;
		text-align: center;
	}
}
#footer-logo {
	width: 3.5vw;
}
#backToTop {
	color: darkblue;
	float: right;
}

#smash-fighter {
	height: 30vh;
}
#search-box {
	border-left: none;
	border-top: 0;
	border-right: none;
	margin-right: 1rem;
}