h1 {
	font-size: 8vw;
	font-weight: bold;
}
/*#title {*/
/*	margin-top: 5vw;*/
/*}*/
#developed-by {
	margin-top: 5vw;
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
#developed-by-2 {
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
#home-text {
	font-size: 2vw;
}
#logo {
	height: 12vw;
}
#sign-up-text {
	font-size: 2.5vw;
}
#branding-1 {
	width: 6vw;
}
#character-name {
	font-size: 4vw;
}
