<phpunit>
	<testsuites>
		<testsuite name="SuperSmashLore">
<!--			<file>ProfileTest.php</file>-->
<!--			<file>CharacterTest.php</file>-->
<!--			<file>GameTest.php</file>-->
			<file>FavoriteTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>